.fields{
    margin-top: 10px;
}
.box{
    margin: 0px 12px;
}
.vaccineName{
    color: #000080;
    font-family: ui-rounded;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 12px;
}
.age{
    float: right;
    color: purple;
    font-weight: bold;
}
.feeType{
    float: right;
}
.results{
    font-family: serif;
    text-align: center;
    margin-top: 6px;
    color: navy;
    font-weight: 500;
}
.notAvaiable{
    color: red;
}
.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: black;
}
.capacity{
    display: inline-block;
    color: white;
    margin-bottom: 0px;
}
p{
    margin-bottom: 2px;
}
label.value{
    color: grey;
    margin-right: 15px;
}
label.name{
    color: black;
}
.cost{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
}
.col-1{
    width: 3.4% !important;
}
.slot{
        box-shadow: 1px -1px 9px 1px rgba(0,0,0,0.09);
    -webkit-box-shadow: 1px -1px 9px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 1px -1px 9px 1px rgba(0,0,0,0.09);
    padding: 2px 15px;
    border-radius: 7px;
    color: grey;
}
.row.one{
    margin-bottom: 4px;
}
.heading{
    text-align: center;
    align-items: center !important;
    display: block !important;
}
.bg-light {
    background-color: skyblue !important;
}
span.navbar-brand.mb-0.h1 {
    color: white;
    font-size: 25px;
}
.card-text{
    width: 50%;
}
.state, .district{
    align-items: center;
    display: block;
    text-align: center;
    margin: auto;
}
select#state, select#district{
    margin: auto;
}
.row.slotcol {
    margin-top: 8px;
}
.card-text {
    width: 75%;
}
a.btn.btn-primary {
    padding: 2px 30px;
}
img#covid-wallpaper {
    width: 80%;
    background-repeat: no-repeat;
    margin-top: 15px;
    height: 32em;
    display: flex;
    margin: auto;
    margin-top: 15px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}
#wallpaper{
    margin-top: 18px;
}
.loading{
    display: block;
    text-align: center;
    margin-top: 15px;
}
img#loadingImg {
    width: 50px;
    height: 50px;
    margin: auto;
    display: none;
}
.displayLoading{
    display: block !important;
}
#filterBtn{
    float: right;
    padding: 0.1rem 0.8rem;
}
.modal-body{
    padding: 0px;
}
.nav-pills{
    margin: 0px;
    margin-left: 8px;
    background-color: lightgrey;
}
.nav-link{
    color: black;
}
.dateOptObjLabel, .dateOptObj :hover {
    cursor: pointer;
}
svg.bi.bi-funnel{
    bottom: 2px;
    position: relative;
}
.commonBtn{
    float: right;
    padding: 0.08rem 0.9rem;
}
.modalLabel{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px;
}
.modalInput{
    margin-bottom: 15px;
}
.modelBtn{
    margin-bottom: 6px;
    padding: 0.1rem 0.9rem;
}
.getOTPModal, .verifyOTPModal, .notLoggedInModal, .downloadCertModalLoggedIn{
    display: block;
    text-align: center;
    padding: 30px 2px 5px 2px;
}
div#verifyOTPModal{
    display: none;
}
.modalDisplay{
    display: block !important;
}
.modalDontDisplay{
    display: none !important;
}
input#countryCode {
    width: 40px;
}
.logout{
    display: none;
}
.downloadCertBtn{
    float: left;
    width: 10rem;
    font-size: 13px;
    padding: 4px 2px !important;
    margin-top: 10px;
}
.devInfo{
    float: right;
    width: 10rem;
    font-size: 13px;
    padding: 4px 2px !important;
    margin-top: 10px;
}
.spinner-border{
    position: relative;
    width: 25px !important;
    height: 25px !important;
    top: 3px;
    display: none !important;
}
.display-spinner{
   display: inline-block !important;
}
label#countdown {
    color: yellowgreen !important;
    text-align: center;
    align-items: center;
    display: block;
}
.changeCountdown{
    color: red !important;
}
#resendOTPBtn :hover{
    cursor: not-allowed !important;
}
.card.top{
    width : 21rem;
}
.myimage{
    width : 250px;
    height: 250px;
}
@media screen and (min-width : 100px) and (max-width:990px) {
.card.top{
    width : 13rem;
}
.col.top{
    width : 33%;
}
}
@media screen and (min-width : 990px) and (max-width:1200px) {
.card.top{
    width : 18rem;
}
}
@media screen and (min-width : 801px) and (max-width:1002px) {
.myimage{
    width : 250px;
    height: 250px;
}
}
@media screen and (min-width : 671px) and (max-width:800px) {
    .myimage{
        width : 200px;
        height: 200px;
    }
    .aboutMeCard{
        font-size: 12px;
    }
}
@media screen and (min-width : 541px) and (max-width:670px) {
    .myimage{
        width : 150px;
        height: 150px;
    }
    .aboutMeCard{
        font-size: 12px;
    }
}
@media screen and (min-width : 200px) and (max-width:540px) {
    .myimage{
        width : 110px;
        height: 110px;
    }
    .aboutMeCard{
        font-size: 10px;
    }
}
@media screen and (min-width : 100px) and (max-width:996px) {
.global{
    width : 600px;
}
}

@media only screen and (max-width: 901px ){
    .fields{
        margin-top: 45px;
    }
}

@media only screen and (min-width: 801px ){
    select{
        width: 60% !important;
       
    }
}
@media only screen and (max-width: 800px ) and (min-width: 551px ){
    select{
        width: 80% !important;
       
    }
    .downloadCertBtn{
        margin-bottom: 5px;
    }
}
.toLogin{
    text-decoration: underline;
    color: blue;
}
.toLogin :hover{
    cursor: pointer;
    color: black !important;
}
.aboutMeCard{
    margin-top: 30px;
}
@media only screen and (max-width: 550px )  {
    select{
        width: 100% !important;
       
    }
}
@media only screen and (max-width: 1300px) and (min-width:1201px){
    .col-1{
        width: 4% !important;
    }
}
@media only screen and (max-width: 1200px) and (min-width:1000px){
    .col-1{
        width: 4.6% !important;
    }
}
@media only screen and (max-width: 999px) and (min-width:681px){
    .col-1{
        width: 7% !important;
    }
}
@media only screen and (max-width: 680px) {
    .col-1{
        width: 9% !important;
    }
}
@media only screen and (max-width: 630px) and (min-width: 521px) {
    .lead{
       font-size: 1rem;
    }
}
@media only screen and (max-width: 520px) {
    .lead{
       font-size: 0.7rem;
    }
}
@media only screen and (max-width: 500px) {
    .results{
        font-size: 18px;
    }
    .card-title{
        font-size: 18px;
    }
    .vaccineName{
        font-size: 14px;
    }
    .badge{
        padding: 0.2em 0.2em;
    }
    label.value{
        font-size: 15px;
        margin-right: 5px;
    }
    .slot{
        padding: 2px 5px;
        font-size: 14px;
    }
    .age{
        font-size: 15px;
    }
    #covid-wallpaper{
        height: 30em !important;
        width: 100% !important;
    }
    .downloadCertBtn{
        width: 8rem;
        font-size: 12px;
        padding: 2px;
    }
    .titleMain{
        font-size: 18px !important;
    }

}
@media only screen and (max-width: 500px) and (min-width: 450px)  {
    label.filterStatus {
        font-size: 14px;
    }

} 
@media only screen and (max-width: 450px) and (min-width: 401px)  {
    label.filterStatus {
        font-size: 12px;
    }
    #filterBtn {
        padding: 0.1rem 0.5rem;
        font-size: 15px;
    }

} 
@media only screen and (max-width: 401px) and (min-width: 386px)  {
    label.filterStatus {
        font-size: 12px;
    }
    #filterBtn {
        padding: 0.1rem 0.3rem;
        font-size: 13px;
    }
}
@media only screen and (max-width: 385px)  {
    label.filterStatus {
        font-size: 11px;
    }
    #filterBtn {
        padding: 0.1rem 0.25rem;
        font-size: 12px;
    }
}
@media only screen and (max-width: 435px)  {
    li, .cell{
        font-size: 10px;
    }
}
@media only screen and (max-width: 425px)  {
    .aboutMeCard{
        font-size: 9px;
    }
    li, .cell{
        font-size: 10px;
    }
    .myimage{
        width : 90px;
        height: 90px;
    }

}



